@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer base {
    :root {
        --background: #FFFFFF;
        --foreground: #020817;
        --card: #ffffff;
        --card-foreground: #020817;
        --popover: #FFFFFF;
        --popover-foreground: #020817;
        --primary: #fd7658;
        --primary-foreground: #f9efee;
        --secondary: #5ed36a;
        --secondary-foreground: #ebfaec;
        --muted: #f1f1f1;
        --muted-foreground: #f7f7f7;
        --accent: #f3c660;
        --accent-foreground: #fff9ed;
        --destructive: #f56164;
        --destructive-foreground: #fceaea;
        --tertiary: #727edc;
        --tertiary-foreground: #eceefa;
        --border: #f5f5f5;
        --input: #c2c2c2;
        --ring: #fd7658;
        --chart-1: #E76E50;
        --chart-2: #2A9D90;
        --chart-2-linear-gradient: linear-gradient(180deg, rgba(42,157,144,1) 35%, rgba(255,255,255,1) 100%);
        --chart-3: #274754;
        --chart-4: #E8C468;
        --chart-5: #F4A462;
        --radius: 0.5rem;
        --sidebar-background: #FAFAFA;
        --sidebar-foreground: #3F3F46;
        --sidebar-primary: #18181B;
        --sidebar-primary-foreground: #FAFAFA;
        --sidebar-accent: #fceaea;
        --sidebar-accent-foreground: #fd7658;
        --sidebar-border: #E5E7EB;
        --sidebar-ring: #fd7658;
        --inputDark: #aaaaaa;
    }
    .dark {
        --background: #020817;
        --foreground: #F8FAFC;
        --card: #020817;
        --card-foreground: #F8FAFC;
        --popover: #020817;
        --popover-foreground: #F8FAFC;
        --primary: #fd7658;
        --primary-foreground: #f9efee;
        --secondary: #5ed36a;
        --secondary-foreground: #ebfaec;
        --muted: #f1f1f1;
        --muted-foreground: #f7f7f7;
        --accent: #f3c660;
        --accent-foreground: #fff9ed;
        --destructive: #f56164;
        --destructive-foreground: #fceaea;
        --tertiary: #727edc;
        --tertiary-foreground: #eceefa;
        --border: #f5f5f5;
        --input: #c2c2c2;
        --ring: #fd7658;
        --chart-1: #2662D9;
        --chart-2: #2EB88A;
        --chart-3: #E88C30;
        --chart-4: #AF57DB;
        --chart-5: #E23670;
        --sidebar-background: #18181B;
        --sidebar-foreground: #F4F4F5;
        --sidebar-primary: #1D4ED8;
        --sidebar-primary-foreground: #ffffff;
        --sidebar-accent: #fceaea;
        --sidebar-accent-foreground: #fd7658;
        --sidebar-border: #27272A;
        --sidebar-ring: #fd7658;
        --inputDark: #aaaaaa;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}